@import"../App.scss";

.btn-pdf{
	margin-top: 3%;
    margin-left:35%;
    padding:10px;
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
}

.btn-pdf:hover{
    background-color: $hoverColour;
    cursor: pointer;
    border: solid 2px white;
}