@import"../App.scss";

//style for journey card element
section.journey-card{
    display: flex;
    width: 85%;
    height:90%;
    margin-left:10%;
    margin-bottom: 30px;
    margin-top: 30px;
	gap:25px;
    padding:$cardSeparationDesktop;
    box-sizing: border-box;
    background-color: $blockColour;

    border:solid 5px black
}

.journey-card-image{
	width:40%;
	height: 300px;
    background-color: aliceblue;
}

.journey-card-text{
	width:60%;
    background-color: aqua;
    border:solid 2px black;
}

@media only screen and (max-width:376px){
    section.journey-card{
        display: flex;
		flex-direction: column;
        height:600px;
        margin:5px 12px 5px 15%;
	}
    .journey-card-image{
        width: auto;
        height: 40%;
    }

    .journey-card-text{
        width: auto;
        height:60%;
    }
}
