@import "../../constants.scss";



//COLOURS
$backgroundColour: #290907;
// To be used for borders/header/footer
$blockColour: #99231b;
$hoverColour: #ff8f57;
$transparentOverlayColour: #270907;
$buttonColour: #270907;
$fontColour: #ffffff;

// FONTS
$fontType: Helvetica;
$fontTypeBackup: "Source Sans Pro";

// Font Weights:
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;

// Size
// Mobile
$titleSizeMobile: 24px;
$subtitleSizeMobile: 20px;
$buttonSizeMobile: 20px;
$bodySizeMobile: 14px;
$secondarySizeMobile: 10px;

// Tablet
$titleSizeTablet: 24px;
$subtitleSizeTablet: 20px;
$buttonSizeTablet: 20px;
$bodySizeTablet: 14px;
$secondarySizeTablet: 10px;

// Desktop
$titleSizeDesktop: 32px;
$subtitleSizeDesktop: 24px;
$buttonSizeDesktop: 24px;
$bodySizeDesktop: 16px;
$secondarySizeDesktope: 12px;

.footerSection {
    color: $fontColour;
    background-color: $backgroundColour;
    font-family: $fontType $fontTypeBackup;
    font-weight: $fontNormal;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10%;


}

.footerLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 20%;

    a {
        color: $fontColour;
    }
}

.footerRight {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 85% 15%;


}

.footerRightContent {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 160px;
    width: 90%;
}

.footerButton {
    width: 80%;
    background-color: grey;
    color: white;
    margin-bottom: 5px;
    border-radius: 15px;
    font-size: 0.8em;
    grid-row-start: 2;
    grid-row-end: 3;
    font-family: $fontType $fontTypeBackup;
    font-weight: $fontNormal;
}


.footerButton:hover {
    background-color: $hoverColour;
}

.footerWeather {
    background-color: bisque;
    height: 70%;
}

.footerFact {
    background-color: bisque;
    height: 70%;
}

h2 {
    margin-bottom: 2%;
    font-size: 1.2em;
}

#footerRightWrapper {
    display: none;
}

#footerRightAppear {
    display: inline-block;
}





@media screen and (min-width: 375px) {

    h2 {
        font-size: $subtitleSizeMobile;
    }

    .footerSection {
        font-size: $bodySizeMobile;
    }

    .footerButton {
        font-size: $bodySizeMobile;
    }

    .footerRightContent {
        width: 80%;
    }

    .footerButton {
        margin-top: 1%;
        width: 80%;
    }
}


@media screen and (min-width: 700px) {
    h2 {
        font-size: $subtitleSizeTablet;
    }

    .footerSection {
        font-size: $bodySizeTablet;
    }

    .footerButton {
        font-size: $bodySizeTablet;
    }

    .footerRightContent {
        width: 50%;
    }

    .footerButton {
        width: 50%;
    }
}


@media screen and (min-width: 1100px) {

    h2 {
        font-size: $subtitleSizeDesktop;
    }

    .footerSection {
        font-size: $bodySizeDesktop;
    }

    .footerButton {
        font-size: $bodySizeDesktop;
    }

    .footerRightContent {
        width: 50%;
    }

    .footerButton {
        width: 50%;
        height: 73%;
    }
}