@import "../../constants.scss";
@import "../App.scss";

.footerSection {
    color: $fontColour;
    background-color: $backgroundColour;
    font-family: $fontType $fontTypeBackup;
    font-weight: $fontNormal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10%;
}

.footerLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 20%;

    a {
        color: $fontColour;
    }
}

.footerRight {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 10% 75% 15%;
}

.footerRightTitle {
    width: auto;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footerRightContent {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 160px;
    width: 90%;
    margin-bottom: 1%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.footerButton {
    background-color: grey;
    color: white;
    margin-bottom: 5px;
    border-radius: 15px;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: $fontType $fontTypeBackup;
    font-weight: $fontNormal;
    width: 180px;
    margin-top: 10px;
    margin-left: 20px;
    height: 70%;
}

.footerButton:hover {
    background-color: $hoverColour;
}


h2 {
    margin-bottom: 2%;
}

#footerRightWrapper {
    display: none;
}

#footerRightAppear {
    display: inline-block;
}

.astroImg {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 430px) {
    h2 {
        font-size: $subtitleSizeMobile;
    }

    .footerSection {
        font-size: $bodySizeMobile;
    }

    .footerButton {
        font-size: $bodySizeMobile;
        margin-top: 1%;
        margin-left: 8px;
    }
}

@media screen and (min-width: 431px) {
    h2 {
        font-size: $subtitleSizeTablet;
    }

    .footerSection {
        font-size: $bodySizeTablet;
    }

    .footerButton {
        font-size: $bodySizeTablet;
    }
}

@media screen and (min-width: 760px) {
    h2 {
        font-size: $subtitleSizeTablet;
    }

    .footerSection {
        font-size: $bodySizeTablet;
    }

    .footerButton {
        font-size: $bodySizeTablet;
    }
}

@media screen and (min-width: 1100px) {
    h2 {
        font-size: $subtitleSizeDesktop;
    }

    .footerSection {
        font-size: $bodySizeDesktop;
    }

    .footerButton {
        font-size: $bodySizeDesktop;
    }
}