@import "../../constants.scss";

//DESKTOP
@media (min-width: 376px) {
    .burger-button {
      display: none;
      z-index: 6;
    }
    .hamburger-closed {
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 15% 15%;
    width: 100%;
    height: 50px;
    list-style-type: none;
    }

}

//MOBILE
@media (max-width: 375px) {
    .hamburger-closed {
        display:none;
    }
    .hamburger-open{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    width: 100%;
    list-style-type: none;
    }

}
