.button-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
}

.image-info-section {
    position: relative;
}

.left-right-home-buttons {
    background-color: transparent;
    color: grey;
    opacity: 60%; 
}

.main-header {
    text-align: center;
}

.main-welcome-message {
    text-align: center;
}

.main-image {
    height: 450px;

    .main-image-tag {
        margin: 0 auto;
        max-width: 98%;
        max-height: 98%;
        align-items: center;
        display: block;
    }
}

.main-image-description {
    height: 150px;
    width: 320px;
    text-align: center;
    margin: 0 auto;
}

.next-right-button {
    position: absolute;
    right: 20%;
    top: 35%;
}

.previous-left-button {
    position: absolute;
    left: 20%;
    top: 35%;
}

@media(max-width: 320px) {
    .main-image-description {
        height: 100px;
        max-width: 250px;
    }
    .main-image {
        max-height: 200px;
    }
}

@media(max-width: 375px) {
    .next-right-button {
        position: absolute;
        right: 2%;
        top: 19%;
    }   
    .previous-left-button {
        position: absolute;
        left: 2%;
        top: 19%; 
    }
    .button-icon {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border-radius: 50%;
    }
}

@media (max-width: 768px) {
    .main-image {
        height: 250px;
    }
    .main-image-description {
        height: 100px;
    }
}

@media (max-width: 1000px) {
        .next-right-button {
            position: absolute;
            right: 5%;
            top: 35%;
        }   
        .previous-left-button {
            position: absolute;
            left: 5%;
            top: 35%;     
        }     
}