// COLOURS
$backgroundColour: #290907;
$blockColour: #99231b;
$hoverColour: #ff8f57;
$transparentOverlayColour: #270907;
$buttonColour: #270907;
$fontColour: #ffffff;

// FONTS
$fontType: Helvetica;
$fontTypeBackup: "Source Sans Pro";

$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;

$titleSizeMobile: 24px;
$subtitleSizeMobile: 20px;
$buttonSizeMobile: 20px;
$bodySizeMobile: 14px;
$secondarySizeMobile: 10px;

$titleSizeTablet: 24px;
$subtitleSizeTablet: 20px;
$buttonSizeTablet: 20px;
$bodySizeTablet: 14px;
$secondarySizeTablet: 10px;

$titleSizeDesktop: 32px;
$subtitleSizeDesktop: 24px;
$buttonSizeDesktop: 24px;
$bodySizeDesktop: 16px;
$secondarySizeDesktope: 12px;

// SPACING
$guttersMobile: 24px;
$cardSeparationMobile: 24px;
$sectionSpacingMobile: 40px;
$cardPaddingMobile: 24px;

$guttersTablet: 32px;
$cardSeparationTablet: 32px;
$sectionSpacingTablet: 48px;
$cardPaddingTablet: 24px;

$guttersDesktop: 48px;
$cardSeparationDesktop: 48px;
$sectionSpacingDesktop: 80px;
$cardPaddingDesktop: 24px;

// BUTTON SPECS
$buttonRadius: 10px;