$background-light-accent: #bbbbbb;
$background-dark-accent: #999999;
$text-colour: #000000;
$backgroundColour: #290907;
$blockColour: #99231b;
$hoverColour: #ff8f57;
$transparentOverlayColour: #270907;
$buttonColour: #270907;
$fontColour: #ffffff;